<h1>Secret</h1>
<h3>Anim ullamco laborum sint qui sunt duis esse consequat mollit irure nostrud in est veniam sed incididunt duis magna qui exercitation mollit dolor exercitation nostrud cupidatat do consectetur nulla aute.</h3>

<li> <a href="/register">Sign Up</a></li>
<li><a href="/login">Login</li>
<li><a href="/logout">Logout</a></li>